{"openapi":"3.1.0","info":{"title":"KeeperHub","version":"1.0.0","description":"Web3 workflow automation platform. Workflows are callable by AI agents via REST or MCP.","x-guidance":"KeeperHub exposes workflows as REST endpoints under /api/mcp/workflows/{slug}/call.\nEach workflow has a slug, accepts a JSON body, and returns a JSON response with `executionId`, `status`, and `output`.\nAuth: paid workflows return HTTP 402 with x402/MPP payment info on the first call; pay (e.g. via agentcash, openclaw, or any x402 client) and replay. Free workflows can be called directly.\nCategories of workflows include: DeFi yield/risk reads (e.g. usdc-yield-rates-aave-vs-compound, aave-v3-health-check, defi-risk-snapshot), tipping primitives (microtip), and write-type workflows that return unsigned calldata for the caller to sign and broadcast.\n\n## Worked examples\n\n### Example 1 — Compare USDC yield (paid, $0.01)\nPOST /api/mcp/workflows/usdc-yield-rates-aave-vs-compound/call\nBody: {}\nResponse (after payment): { executionId, status: \"success\", output: { result: { rates: [...], bestRate, bestProtocol } } }\n\n### Example 2 — Aave v3 health check (paid, $0.01)\nPOST /api/mcp/workflows/aave-v3-health-check/call\nBody: { \"address\": \"0x...\" }\nResponse (after payment): { executionId, status: \"success\", output: { result: { healthFactor, totalCollateralUSD, totalDebtUSD, riskLevel } } }\n\n### Example 3 — Discover available workflows (free)\nGET /api/mcp/workflows  (returns the list of all listed workflows + pricing)\nGET /openapi.json       (this document — full schema for every workflow)\n\nWhen in doubt, fetch /openapi.json and read the per-workflow `x-payment-info`, `security`, and `requestBody` fields."},"x-service-info":{"categories":["web3","automation","blockchain"],"docs":{"homepage":"https://docs.keeperhub.com"}},"servers":[{"url":"https://app.keeperhub.com"}],"paths":{"/api/mcp/workflows/helloworld/call":{"post":{"operationId":"call-helloworld","summary":"HelloWorld","description":"Simple workflow that returns Hello, World! message.","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/microtip/call":{"post":{"operationId":"call-microtip","summary":"Microtip","description":"Receive small tip of $0.01","x-payment-info":{"price":{"mode":"fixed","amount":"0.01","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/usdc-yield-rates-aave-vs-compound/call":{"post":{"operationId":"call-usdc-yield-rates-aave-vs-compound","summary":"USDC Yield Rates: Aave vs Compound","description":"Fetches current USDC supply rates from Aave v3 and Compound v3 on Ethereum mainnet and returns a ranked comparison. No input required. Aave rate comes from liquidityRate (ray, 1e27). Compound rate is ","x-payment-info":{"price":{"mode":"fixed","amount":"0.01","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/pack-0-10-demo/call":{"post":{"operationId":"call-pack-0-10-demo","summary":"Pack 0.10 (Demo)","description":"Demo transaction: A $0.10 payment is submitted and automatically returned to the user. In production, a platform fee would be deducted, the remaining balance used to execute the task, and any unused f","x-payment-info":{"price":{"mode":"fixed","amount":"0.10","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/yield-read-morpho-get-market/call":{"post":{"operationId":"call-yield-read-morpho-get-market","summary":"Yield read: morpho/get-market","description":"Live on-chain yield read for Alpha","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/zwarm-test-sepolia-balance-check/call":{"post":{"operationId":"call-zwarm-test-sepolia-balance-check","summary":"Zwarm Test: Sepolia Balance Check","description":"Alpha's first real KeeperHub execution — read-only","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/zwarm-strategy-runner-v2/call":{"post":{"operationId":"call-zwarm-strategy-runner-v2","summary":"Zwarm Strategy Runner V2","description":"LLM-curated USDC yield rotation across Aave / Compound / Morpho on Base mainnet. Calls Zwarm's decision engine (zwarm.com/api/decide) via webhook; routes the decision through a 4-pair execution matrix","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/zwarm-strategy-runner/call":{"post":{"operationId":"call-zwarm-strategy-runner","summary":"Zwarm Strategy Runner","description":"LLM-curated USDC yield rotation across Aave / Compound / Morpho on Base mainnet. Calls Zwarm's decision engine via webhook (zwarm.com/api/decide) and routes the result through KH execution primitives.","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/defi-risk-snapshot/call":{"post":{"operationId":"call-defi-risk-snapshot","summary":"DeFi Risk Snapshot","description":"Checks Aave v3 position health for a wallet address across both Ethereum mainnet and Base simultaneously. Returns a consolidated risk report: all active positions, whether any are at risk (health fact","x-payment-info":{"price":{"mode":"fixed","amount":"0.01","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"EVM wallet address to check (0x...)"}}}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/aave-v3-health-check/call":{"post":{"operationId":"call-aave-v3-health-check","summary":"Aave v3 Health Check","description":"Checks the health of an Aave v3 position for any wallet address on Ethereum mainnet. Returns health factor (normalized), total collateral in USD, total debt in USD, available borrow capacity, and a pl","x-payment-info":{"price":{"mode":"fixed","amount":"0.01","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"EVM wallet address to check"}}}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/zwarm-strategy-runner-v2-personal-0x5623d4a6-tokenid-83/call":{"post":{"operationId":"call-zwarm-strategy-runner-v2-personal-0x5623d4a6-tokenid-83","summary":"Zwarm Strategy Runner V2 (personal · 0x5623D4a6…) · tokenId 83","description":"Personal copy of the Zwarm V2 strategy runner with 0x5623D4a6A316Cf9b16fF92808E3931E17CcB960C hardcoded. LLM-curated USDC yield rotation across Aave / Compound / Morpho on Base mainnet. Per-rebalance ","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/zwarm-strategy-runner-v2-personal-0x5623d4a6-tokenid-83-v1/call":{"post":{"operationId":"call-zwarm-strategy-runner-v2-personal-0x5623d4a6-tokenid-83-v1","summary":"Zwarm Strategy Runner V2 (personal · 0x5623D4a6…) · tokenId 83","description":"Personal copy of the Zwarm V2 strategy runner with 0x5623D4a6A316Cf9b16fF92808E3931E17CcB960C hardcoded. LLM-curated USDC yield rotation across Aave / Compound / Morpho on Base mainnet. Per-rebalance ","security":[],"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/mcp-test/call":{"post":{"operationId":"call-mcp-test","summary":"MCP Test: Prod (Updated)","description":"Updated via MCP","x-payment-info":{"price":{"mode":"fixed","amount":"0.01","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["address"],"properties":{"address":{"type":"string","description":"eth address"}}}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/quorum-aegis-commit-v2/call":{"post":{"operationId":"call-quorum-aegis-commit-v2","summary":"aegis-commit-vote","description":"Quorum: verifier commits a vote hash to AegisContract on 0G Galileo.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId","commitHash"],"properties":{"jobId":{"type":"string"},"commitHash":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-reveal-v3/call":{"post":{"operationId":"call-quorum-aegis-reveal-v3","summary":"aegis-reveal-vote","description":"Quorum: verifier reveals their vote on AegisContract.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId","verdict","nonce"],"properties":{"jobId":{"type":"string"},"nonce":{"type":"string"},"verdict":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-settle-v3/call":{"post":{"operationId":"call-quorum-aegis-settle-v3","summary":"aegis-settle","description":"Quorum: anyone can call settle on AegisContract once reveal deadline passes.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId"],"properties":{"jobId":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-reveal-v1/call":{"post":{"operationId":"call-quorum-aegis-reveal-v1","summary":"aegis-reveal-vote","description":"Quorum: verifier reveals their vote on AegisContract.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId","verdict","nonce"],"properties":{"jobId":{"type":"string"},"nonce":{"type":"string"},"verdict":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-reveal-v2/call":{"post":{"operationId":"call-quorum-aegis-reveal-v2","summary":"aegis-reveal-vote","description":"Quorum: verifier reveals their vote on AegisContract.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId","verdict","nonce"],"properties":{"jobId":{"type":"string"},"nonce":{"type":"string"},"verdict":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-settle-v2/call":{"post":{"operationId":"call-quorum-aegis-settle-v2","summary":"aegis-settle","description":"Quorum: anyone can call settle on AegisContract once reveal deadline passes.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId"],"properties":{"jobId":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-settle-v1/call":{"post":{"operationId":"call-quorum-aegis-settle-v1","summary":"aegis-settle","description":"Quorum: anyone can call settle on AegisContract once reveal deadline passes.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId"],"properties":{"jobId":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-commit-v3/call":{"post":{"operationId":"call-quorum-aegis-commit-v3","summary":"aegis-commit-vote","description":"Quorum: verifier commits a vote hash to AegisContract on 0G Galileo.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId","commitHash"],"properties":{"jobId":{"type":"string"},"commitHash":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/quorum-aegis-commit-v1/call":{"post":{"operationId":"call-quorum-aegis-commit-v1","summary":"aegis-commit-vote","description":"Quorum: verifier commits a vote hash to AegisContract on 0G Galileo.","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jobId","commitHash"],"properties":{"jobId":{"type":"string"},"commitHash":{"type":"string"}}}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/simple-workflow/call":{"post":{"operationId":"call-simple-workflow","summary":"Simple Workflow","description":"Simple for testing lendpay workflow gateway execution","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"txid":{"type":"string","description":"tx hash"},"amount":{"type":"number","description":"payment amount"}}}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/test-sepolia-weth-deposit-issue2/call":{"post":{"operationId":"call-test-sepolia-weth-deposit-issue2","summary":"Sepolia WETH Deposit (write test)","description":"Test workflow: web3/write-contract on Sepolia WETH9 deposit() to reproduce Issues 1-3","security":[],"x-workflow-type":"write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Unsigned transaction calldata","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","const":"calldata"},"to":{"type":"string"},"data":{"type":"string"},"value":{"type":"string"}}}}}}}}},"/api/mcp/workflows/stablecoin-yield-compare-base/call":{"post":{"operationId":"call-stablecoin-yield-compare-base","summary":"Stablecoin Yield Compare: USDC on Base","description":"Compares supply yield on USDC across the three blue-chip stablecoin venues KeeperHub supports on Base — Aave V3, Compound V3, and the Steakhouse USDC vault on Morpho. Manual / read-only; designed for ","x-payment-info":{"price":{"mode":"fixed","amount":"0.05","currency":"USD"},"protocols":[{"x402":{"network":"eip155:8453"}},{"mpp":{"method":"tempo","intent":"charge","currency":"USDC"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}},"402":{"description":"Payment Required"}}}},"/api/mcp/workflows/defi-position-aggregator-base/call":{"post":{"operationId":"call-defi-position-aggregator-base","summary":"DeFi Position Aggregator: Wallet on Base","description":"Aggregates a wallet's DeFi positions across the major lending and yield venues KeeperHub supports on Base in a single call - Aave V3 (with health factor), Compound V3 USDC market, Morpho Steakhouse US","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["wallet"],"properties":{"wallet":{"type":"string","description":"Wallet address (0x...) to aggregate DeFi positions for. Must be a valid Base-compatible EVM address."}},"additionalProperties":false}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}},"/api/mcp/workflows/defi-position-aggregator-ethereum/call":{"post":{"operationId":"call-defi-position-aggregator-ethereum","summary":"DeFi Position Aggregator: Wallet on Ethereum","description":"Aggregates a wallet's DeFi positions across the major lending and yield venues KeeperHub supports on Ethereum mainnet in a single call - Aave V3, Spark (DAI ecosystem), Compound V3 USDC, Lido stETH + ","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["wallet"],"properties":{"wallet":{"type":"string","description":"Wallet address (0x...) to aggregate DeFi positions for. Must be a valid Ethereum-compatible EVM address."}},"additionalProperties":false}}}},"responses":{"200":{"description":"Workflow execution started","content":{"application/json":{"schema":{"type":"object","properties":{"executionId":{"type":"string"},"status":{"type":"string","const":"running"}}}}}}}}}}}